@model FisioWebFront.Entities.CitasObj

@{
    ViewBag.Title = "CambiarClave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ls ms columns_margin_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">
                            Inicio
                        </a>
                    </li>
                    <li class="active">Agendar Cita</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_65 section_padding_bottom_60">
        <div class="container">
            <div class="row">

                <div class="col-md-8 to_animate" data-animation="scaleAppear">

                    <div class="col-sm-12 to_animate" data-animation="slideRight" data-delay="150">
                        <h3>Detalles de la cita</h3>
                    </div>

                    <hr class="divider_1_270 divider_30 left">
                    <h3 class="section_header small bottommargin_30">
                    </h3>

                    @Html.HiddenFor(model => model.id_cita)

                    <div class="col-sm-6" style="visibility:hidden">
                        <p>
                            Descripción
                        </p>
                        <div class="contact-form-email">
@*                            @Html.TextBoxFor(model => model.descripcion_cita, new{
                        @class = "form-control", @required = "required",
                        @size="30", @value="", @name="descripcion_cita",
                        @id="descripcion_cita", @disabled="disabled"

                        })*@
                        <span type="text" id="description" name="description"></span>
                        </div>
                    </div>
                <div class="col-sm-6" style="visibility:hidden">
                        <p>
                            Hora Cita
                        </p>
                        <div class="contact-form-email">
                            @Html.TextBoxFor(model => model.horaInicio_cita, new{
                        @class = "form-control", @required = "required",
                        @size="30", @value="", @name="horaInicio_cita",
                        @id="horaInicio_cita", @disabled="disabled"

                        })
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


@*
<section class="page_breadcrumbs ls ms columns_margin_0">
    <div id='calendar'></div>
</section>*@

<div class="row">
    <section class="col-md-12 col-md-push-0">
        @Html.Partial("_CalendarPartial")
    </section>
</div>


@using (Html.BeginForm("CalendarioCitas", "Citas", FormMethod.Post))
{
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
       
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Agendar cita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body"> 
                    <div class="form-group">
                        <p>Nombre de la mascota</p>
                        @Html.DropDownListFor(model => model.id_mascota, ViewBag.ComboIdMascota as List<SelectListItem>)
                    </div>

                    <div class="form-group">
                         <p>Tipo de servicio</p>
                          <div class="col-6 col-12-xsmall">
                                @Html.DropDownListFor(modelS => modelS.id_servicio, ViewBag.ComboIdServicios as List<SelectListItem>)
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="horaInicio_cita">Hora inicio</label>
                        <input type="datetime-local" class="form-control" id="horaInicio_cita" name="horaInicio_cita">
                    </div>

                    <div class="form-group">
                        <label for="horaFin_cita">Hora final</label>
                        <input type="datetime-local" class="form-control" id="horaFin_cita" name="horaFin_cita">
                    </div>

                    <div class="form-group">
                        <label for="descripcion_cita">Descripción</label>
                        <input type="text" class="form-control" id="descripcion_cita" name="descripcion_cita">
                    </div>
                        
                </div>

                <div class="modal-footer">
                    <button type="button" class="theme_button color1" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="theme_button color2" id="saveEvent">Agendar cita</button>
                </div>

            </div>
        </div>
    </div>
   
}


@section ScriptsAtBottom
{
    <script type="text/javascript" src="/js/MyCalendar.js" ></script>       
}